.master{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    background-color: #f2ebe9;
    color: #000000;
    font-size: 1.8rem;    
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.barLeft {
    background-color: #eddcd9;
    flex-grow: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
    position: relative;
    flex-direction: column;
}