._1a2_kg {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: d_1a2_kg 2s linear forwards;
  }


  ._1a2_gk {
    stroke-dasharray: 220; 
    stroke-dashoffset: -220; 
    animation: d_1a2_gk 2s linear forwards;
  }

  @keyframes d_1a2_kg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes d_1a2_gk {
    to {
      stroke-dashoffset: 0;
    }
  }










  ._1e3_kg {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: d_1a2_kg 2s linear forwards;
  }

 
  ._1e3_gk {
    stroke-dasharray: 330; 
    stroke-dashoffset: -330; 
    animation: d_1a2_gk 2s linear forwards;
  }

  @keyframes d_1e3_kg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes d_1e3_gk {
    to {
      stroke-dashoffset: 0;
    }
  }









  ._1d4_kg {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: d_1d4_kg 2s linear forwards;
  }

 
  ._1d4_gk {
    stroke-dasharray: 330; 
    stroke-dashoffset: -330; 
    animation: d_1d4_gk 2s linear forwards;
  }

  @keyframes d_1d4_kg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes d_1d4_gk {
    to {
      stroke-dashoffset: 0;
    }
  }










  ._2b3_kg {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: d_2b3_kg 2s linear forwards;
  }

 
  ._2b3_gk {
    stroke-dasharray: 330; 
    stroke-dashoffset: -330; 
    animation: d_2b3_gk 2s linear forwards;
  }

  @keyframes d_2b3_kg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes d_2b3_gk {
    to {
      stroke-dashoffset: 0;
    }
  }







  ._2f4_kg {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: d_2f4_kg 2s linear forwards;
  }

 
  ._2f4_gk {
    stroke-dasharray: 330; 
    stroke-dashoffset: -330; 
    animation: d_2f4_gk 2s linear forwards;
  }

  @keyframes d_2f4_kg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes d_2f4_gk {
    to {
      stroke-dashoffset: 0;
    }
  }





  ._3c4_kg {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: d_3c4_kg 2s linear forwards;
  }

 
  ._3c4_gk {
    stroke-dasharray: 330; 
    stroke-dashoffset: -330; 
    animation: d_3c4_gk 2s linear forwards;
  }

  @keyframes d_3c4_kg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes d_3c4_gk {
    to {
      stroke-dashoffset: 0;
    }
  }










  ._3h5_kg {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: d_3h5_kg 2s linear forwards;
  }

 
  ._3h5_gk {
    stroke-dasharray: 330; 
    stroke-dashoffset: -330; 
    animation: d_3h5_gk 2s linear forwards;
  }

  @keyframes d_3h5_kg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes d_3h5_gk {
    to {
      stroke-dashoffset: 0;
    }
  }










  
  ._4g5_kg {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: d_4g5_kg 2s linear forwards;
  }

 
  ._4g5_gk {
    stroke-dasharray: 330; 
    stroke-dashoffset: -330; 
    animation: d_4g5_gk 2s linear forwards;
  }

  @keyframes d_4g5_kg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes d_4g5_gk {
    to {
      stroke-dashoffset: 0;
    }
  }











